*{padding: 0; margin: 0; box-sizing: border-box;}
body{height: 900px;}
header {
	background: url('https://images.unsplash.com/photo-1448375240586-882707db888b?auto=format&fit=crop&q=80&w=1000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxleHBsb3JlLWZlZWR8MXx8fGVufDB8fHx8fA%3D%3D');
	text-align: center;
	width: 100%;
	height: auto;
	background-size: cover;
	background-attachment: fixed;
	position: relative;
	overflow: hidden;
	border-radius: 0 0 85% 85% / 30%;
}
header .overlay{
	width: 100%;
	height: 100%;
	padding: 50px;
	color: #FFF;
	text-shadow: 1px 1px 1px #333;
    background-image: linear-gradient( 135deg, #9f05ff69 10%, #fd5e086b 100%);
	
}

h1 {
	font-family: 'Dancing Script', cursive;
	font-size: 80px;
	margin-bottom: 30px;
}

h3, p {
	font-family: 'Open Sans', sans-serif;
	margin-bottom: 30px;
}

button {
	border: none;
	outline: none;
	padding: 10px 20px;
	border-radius: 50px;
	color: #333;
	background: #fff;
	margin-bottom: 50px;
	box-shadow: 0 3px 20px 0 #0000003b;
}
button:hover{
	cursor: pointer;
}

body {
  background-color: #fbf3ec;

  overflow-x: hidden;
}

.ag-format-container {
  width: 1142px;
  margin: 0 auto;
}

.ag-carousel-block {
  padding: 100px 0 0;
}
.ag-carousel-arrow_box {
  text-align: right;

  z-index: 1000;
  position: relative;
}
.ag-carousel-arrow {
  display: inline-block;
  height: 52px;
  width: 52px;
  border: 1px solid #041C2C;
  background-color: #041C2C;

  cursor: pointer;

  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;

  -webkit-transition: all .2s ease-out 0s;
  -moz-transition: all .2s ease-out 0s;
  -o-transition: all .2s ease-out 0s;
  transition: all .2s ease-out 0s;

  position: relative;
}
.js-ag-carousel-arrow_prev {
  margin: 0 12px 0 0;
}
.ag-carousel-arrow:hover {
  border: 1px solid #fbf3ec;
  background-color: transparent;
}
.svg-arrow-left,
.svg-arrow-right {
  height: 12px;
  width: 7px;
  margin: -6px auto 0;

  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
}

.ag-carousel_box {
  margin: 0 -10% 0 calc(50% - 520px);
  position: relative;
}

.ag-carousel_item {
  height: 600px;

  position: relative;
}
.ag-carousel_descr {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;

  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;

  visibility: hidden;

  opacity: 0;
}
.ag-carousel_descr:hover {
  text-decoration: none;
}
.slick-current .ag-carousel_descr {
  height: 312px;
  width: 550px;
  padding: 40px 200px 40px 40px;
  background-color: rgba(255,255,255,.1);

  visibility: visible;

  opacity: 1;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  border-radius: 40px;

  z-index: -1;
  position: absolute;
  top: 140px;
  left: 0;

  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}
.ag-carousel_name {
  line-height: 1.22;

  opacity: 0;

  font-weight: 700;
  font-size: 30px;
  color: #041C2C;

  -webkit-transform: translate(-200px, -50px);
  -moz-transform: translate(-200px, -50px);
  -ms-transform: translate(-200px, -50px);
  -o-transform: translate(-200px, -50px);
  transform: translate(-200px, -50px);

  -webkit-transition: all .7s ease;
  -moz-transition: all .7s ease;
  -o-transition: all .7s ease;
  transition: all .7s ease;
}
.ag-carousel_doctor {
  line-height: 1.25;
  margin: 0 50px 0 0;

  opacity: 0;

  font-size: 16px;
  color: #041C2C;

  -webkit-transform: translate(-200px, 50px);
  -moz-transform: translate(-200px, 50px);
  -ms-transform: translate(-200px, 50px);
  -o-transform: translate(-200px, 50px);
  transform: translate(-200px, 50px);

  -webkit-transition: all .7s ease;
  -moz-transition: all .7s ease;
  -o-transition: all .7s ease;
  transition: all .7s ease;
}
.slick-current .ag-carousel_name,
.slick-current .ag-carousel_doctor {
  opacity: 1;

  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
}
.ag-carousel_img {
  height: 300px;
  margin: 280px 0 0 250px;
  scale: 0.5;
}
.slick-current .ag-carousel_img {
  height: 580px;
  margin: 0 0 0 310px;

  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}

@media only screen and (max-width: 767px) {
  .ag-format-container {
    width: 96%;
  }

  .ag-carousel-block {
    padding: 50px 0 0;
  }
  .ag-carousel-arrow_box {
    text-align: left;
  }

  .ag-carousel_box {
    margin: 0;
  }

  .ag-carousel_item,
  .slick-current .ag-carousel_img {
    height: 500px;
  }
}

@media only screen and (max-width: 639px) {
  .ag-carousel_box:before {
    height: 100px;
  }

  .ag-carousel_item,
  .slick-current .ag-carousel_img {
    height: 300px;
  }
  .ag-carousel_img {
    margin: 280px 0 0 250px;
  }
  .ag-carousel_name {
    font-size: 16px;
  }
  .ag-carousel_doctor {
    margin: 0;

    font-size: 10px;
  }
  .slick-current .ag-carousel_descr {
    height: 155px;
    width: 80%;
    max-width: 350px;
    padding: 20px 80px 20px 25px;

    top: 75px;

    -webkit-border-radius: 14px;
    -moz-border-radius: 14px;
    border-radius: 14px;
  }
}

@media only screen and (max-width: 479px) {
  .slick-current .ag-carousel_descr {
    padding: 20px 25% 20px 20px;
  }
  .slick-current .ag-carousel_img {
    margin: 0 0 0 55%;
  }
}

@media (min-width: 768px) and (max-width: 979px) {
  .ag-format-container {
    width: 750px;
  }

  .ag-carousel_box {
    margin: 0 -10% 0 calc(50% - 350px);
  }
}

@media (min-width: 980px) and (max-width: 1161px) {
  .ag-format-container {
    width: 960px;
  }

  .ag-carousel_box {
    margin: 0 -10% 0 calc(50% - 480px);
  }
}

a {
  text-decoration: none;
  color: #fff;
}
ul li {
  list-style: none;
  color: #fff;
}
body {
  overflow-x: hidden;
}

body .footer {
  z-index: 1;
  --footer-background:rgb(255, 0, 0);
  display: grid;
  position: relative;
  grid-area: footer;
  min-height: 12rem;
}
body .footer .bubbles {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 1rem;
  background: var(--footer-background);
  filter: url("#blob");
}
body .footer .bubbles .bubble {
  position: absolute;
  left: var(--position, 50%);
  background: var(--footer-background);
  border-radius: 100%;
  -webkit-animation: bubble-size var(--time, 4s) ease-in infinite var(--delay, 0s), bubble-move var(--time, 4s) ease-in infinite var(--delay, 0s);
          animation: bubble-size var(--time, 4s) ease-in infinite var(--delay, 0s), bubble-move var(--time, 4s) ease-in infinite var(--delay, 0s);
  transform: translate(-50%, 100%);
}
body .footer .content {
  padding: 6rem 1rem 2rem;
  background: var(--footer-background);
  z-index: 2;
}
.footer .content .container {
  max-width: 768px;
  margin: 0 auto;
    overflow-x: hidden;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1.5rem;
  color: #fff;
}

.content h2 {
  margin-bottom: .25rem;
  font-size: 2.25rem;
}

.content span {
  font-size: .875rem;
}

.footer__links  {
  display: flex;
  flex-direction: row;
  column-gap: 2rem;
  transition: all 150ms ease-out;
  justify-content: center;
}

.footer__links .footer__link {
  transition: all 150ms ease-out;
  display: inline-block;
}

.footer__link:hover:after {
    width: 100%;
}

.footer__link:after {
    content: '';
    display: block;
    margin: auto;
    height: 2px;
    width: 0px;
    background-color: #fff;
    transition: width .25s ease-out;
}
.footer__socials {
  justify-self: flex-end;
}

.footer__social {
  font-size: 1.25rem;
  margin-right: 1.5rem;
}
.footer__social:hover {
  opacity: 0.8;
}

.footer__copy {
  text-align: center;
  background:#e03038;
  font-size: .875rem;
  text-align: center;
  color: #dcdcdc;
  padding: 3rem 0 2rem;
}
@-webkit-keyframes bubble-size {
  0%, 75% {
    width: var(--size, 4rem);
    height: var(--size, 4rem);
  }
  100% {
    width: 0rem;
    height: 0rem;
  }
}

@keyframes bubble-size {
  0%, 75% {
    width: var(--size, 4rem);
    height: var(--size, 4rem);
  }
  100% {
    width: 0rem;
    height: 0rem;
  }
}
@-webkit-keyframes bubble-move {
  0% {
    bottom: -4rem;
  }
  100% {
    bottom: var(--distance, 10rem);
  }
}
@keyframes bubble-move {
  0% {
    bottom: -4rem;
  }
  100% {
    bottom: var(--distance, 10rem);
  }
}

@media screen and (max-width: 767px){
  .footer .content {
    padding: 0 1.5rem;
  }
  .footer .content .container {
    grid-template-columns: repeat(2, 1fr);
  }
  
  .content h2 {
    font-size: 1.5rem;
  }

  .content span {
    font-size: .813rem;
  }

  .footer__links  {
    flex-direction: column;
    row-gap: 1.5rem;
  }
  
  .footer__socials {
    justify-self: flex-start;
  }
}

@media screen and (max-width: 567px){
  .footer .content .container {
    grid-template-columns: repeat(1, 1fr);
    row-gap: 3.5rem;
  }
}

#sy-whatshelp {
  right: 25px;
  bottom: 25px;
  position: fixed;
  z-index: 9999;
}

#sy-whatshelp a {
  position: relative;
}

#sy-whatshelp a.sywh-open-services {
  background-color: #129bf4;
  color: #fff;
  line-height: 55px;
  margin-top: 10px;
  border: none;
  cursor: pointer;
  font-size: 23px;
  width: 55px;
  height: 55px;
  text-align: center;
  box-shadow: 2px 2px 8px -3px #000;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  display: inline-block;
}

#sy-whatshelp a.sywh-open-services i {
  line-height: 55px;
}

#sy-whatshelp a.sywh-open-services i.fa-times {
  display: none;
}

#sy-whatshelp .sywh-services {
  width: 55px;
  height: auto;
}

#sy-whatshelp .sywh-services a {
  display: none;
}

#sy-whatshelp .sywh-services a i {
  background-color: #129bf4;
  color: #fff;
  line-height: 55px;
  margin-top: 10px;
  border: none;
  cursor: pointer;
  font-size: 23px;
  width: 55px;
  height: 55px;
  text-align: center;
  box-shadow: 2px 2px 8px -3px #000;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
}

#sy-whatshelp .sywh-services a.email i {
  background-color: #b92b27;
}

#sy-whatshelp .sywh-services a.instagram i {
  background-color: #e4405f;
}

#sy-whatshelp .sywh-services a.messenger i {
  background-color: #0084ff;
}

#sy-whatshelp .sywh-services a.whatsapp i {
  background-color: #25d366;
}

#sy-whatshelp .sywh-services a.call i {
  background-color: #ff6600;
}

a[data-tooltip] {
  position: relative;
}

a[data-tooltip]::before,
a[data-tooltip]::after {
  position: absolute;
  display: none;
  opacity: 0.85;
  transition: all 0.3s ease-in-out;
}

a[data-tooltip]::before {
  content: attr(data-tooltip);
  background: #000;
  color: #fff;
  font-size: 13px;
  padding: 7px 11px;
  border-radius: 5px;
  white-space: nowrap;
  text-decoration: none;
}

a[data-tooltip]::after {
  width: 0;
  height: 0;
  border: 6px solid transparent;
  content: "";
}

a[data-tooltip]:hover::before,
a[data-tooltip]:hover::after {
  display: block;
}

a.sywh-open-services[data-tooltip]::before,
a.sywh-open-services[data-tooltip]::after {
  display: block;
}

a.data-tooltip-hide[data-tooltip]::before,
a.data-tooltip-hide[data-tooltip]::after {
  display: none !important;
}

a.sywh-open-services[data-tooltip][data-placement="left"]::before {
  top: 11px;
}

a[data-tooltip][data-placement="left"]::before {
  top: -7px;
  right: 100%;
  line-height: normal;
  margin-right: 10px;
}

a[data-tooltip][data-placement="left"]::after {
  border-left-color: #000;
  border-right: none;
  top: 50%;
  right: 100%;
  margin-top: -6px;
  margin-right: 4px;
}

a[data-tooltip][data-placement="right"]::before {
  top: -7px;
  left: 100%;
  line-height: normal;
  margin-left: 10px;
}

a[data-tooltip][data-placement="right"]::after {
  border-right-color: #000;
  border-left: none;
  top: 50%;
  left: 100%;
  margin-top: -6px;
  margin-left: 4px;
}

a[data-tooltip][data-placement="top"]::before {
  bottom: 100%;
  left: 0;
  margin-bottom: 10px;
}

a[data-tooltip][data-placement="top"]::after {
  border-top-color: #000;
  border-bottom: none;
  bottom: 100%;
  left: 10px;
  margin-bottom: 4px;
}

a[data-tooltip][data-placement="bottom"]::before {
  top: 100%;
  left: 0;
  margin-top: 10px;
}

a[data-tooltip][data-placement="bottom"]::after {
  border-bottom-color: #000;
  border-top: none;
  top: 100%;
  left: 10px;
  margin-top: 4px;
}


